/*font styling(shorthand)*/
body{
	font: italic normal bold 16px/18px helvetica,arial, sans-serif;
}
/*font styling*/
h1{
	font-family: arial, verdana, sans-serif;
	font-size: 100px;
	font-variant: normal;
	font-variant: small-caps;
	font-style: normal;
	font-style: italic;
	font-style: oblique;
}
p{
	font-family: georgia, serif;
	line-height: 50px;
}